﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model GameDataBaseFF.Web.Models.GameListViewModel

@{
    ViewData["Title"] = "Games Details";
}

<h2>Games Index</h2>

<p style="color:red">@TempData["editResult"]</p>

@await Html.PartialAsync("GamesEdit", Model.EditableGame)
@await Html.PartialAsync("GamesList", Model.ListOfGames)

