﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<GameDataBaseFF.Web.Models.Game>

<h2>Games List</h2>

@if (Model.Count() == 0)
{
    <p>There's no data that could be shown...</p>
}
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Name)</th>
            <th>@Html.DisplayNameFor(m => m.First().CompanyName)</th>
            <th>@Html.DisplayNameFor(m => m.First().Price)</th>
            <th>Datasheet</th>
            <th>Modify</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Name)</td>
                <td>@Html.DisplayFor(m => item.CompanyName)</td>
                <td>@Html.DisplayFor(m => item.Price) HUF</td>
                <td>@Html.ActionLink("[ SHOW ]", "Details", new { id = item.ID })</td>
                <td>@Html.ActionLink("[ MODIFY ]", "Modify", new { id = item.ID })</td>
                <td>@Html.ActionLink("[ DELETE ]", "Delete", new { id = item.ID })</td>
            </tr>
        }
    </table>
}