﻿@model GameDataBaseFF.Web.Models.Game

<h2>Edit Game</h2>

@using (Html.BeginForm("Modify", "Games"))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.ID)
    @Html.Hidden("editAction", ViewData["editAction"].ToString())

    <div class="editor-label">@Html.LabelFor(m => m.Name)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Name)</div>

    <div class="editor-label">@Html.LabelFor(m => m.CompanyName)</div>
    <div class="editor-field">@Html.EditorFor(m => m.CompanyName)</div>

    <div class="editor-label">@Html.LabelFor(m => m.PlatformName)</div>
    <div class="editor-field">@Html.EditorFor(m => m.PlatformName)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Genre)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Genre)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Type)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Type)</div>

    <div class="editor-label">@Html.LabelFor(m => m.ReleaseDate)</div>
    <div class="editor-field">@Html.EditorFor(m => m.ReleaseDate)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Price)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Price) HUF</div>

    <input type="submit" value="Edit" />
}
