﻿@model GameDataBaseFF.Web.Models.Game

@{
    ViewData["Title"] = "Games Details";
}

<h2>Details of the game</h2>

@Html.ActionLink("Go back to the list", "Index")

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.ID)</td>
        <td>@Html.DisplayFor(m => m.ID)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Name)</td>
        <td>@Html.DisplayFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.CompanyName)</td>
        <td>@Html.DisplayFor(m => m.CompanyName)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.PlatformName)</td>
        <td>@Html.DisplayFor(m => m.PlatformName)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Genre)</td>
        <td>@Html.DisplayFor(m => m.Genre)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Type)</td>
        <td>@Html.DisplayFor(m => m.Type)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.ReleaseDate)</td>
        <td>@Html.DisplayFor(m => m.ReleaseDate)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Price)</td>
        <td>@Html.DisplayFor(m => m.Price)</td>
    </tr>
</table>
